version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: pr_db
    restart: unless-stopped
    env_file:
      - .env                                 
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: prdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d prdb"]
      interval: 3s
      timeout: 5s
      retries: 15
      start_period: 10s

  app:
    build: .
    container_name: pr_app
    restart: unless-stopped
    ports:
      - "${APP_PORT:-8080}:8080"
    env_file:
      - .env                                   
    depends_on:
      db:
        condition: service_healthy              
    command: >
      sh -c "
        echo 'Ожидание БД...' &&
        sleep 3 &&
        ./main
      "

volumes:
  pgdata: